@import 'utils';

.container {
	flex-grow: 1;
	display: grid;
	grid-template-columns: 4em 12em 20em minmax(0px, 1fr) minmax(0px, 1fr);
	grid-template-rows: minmax(0px, 1fr);
	grid-gap: 1em 1em;
	grid-column-gap: 1em;
}

.sideBar,
.items,
.settings,
.grid,
.layout {
	display: flex;
	flex-direction: column;
}

.sideBar {
	align-items: center;
}

.ver {
	font-size: 0.6em;
	margin-top: -0.5em;
}

.code {
	margin-top: 0.8em;
	flex-shrink: 0;
	font-size: 1.2em;
}

.ghLink {
	line-height: 0;
	margin-top: auto;
}

.gh {
	@extend %tappable;
	width: 2em;
	height: 2em;
	padding: 0.8em;
	fill: #4c4a56;
	transition-duration: 120ms;
	transition-property: fill;
	&:hover {
		fill: #ff9b70;
	}
}

.tabs {
	flex-shrink: 0;
	display: flex;
}

.title {
	align-self: flex-start;
	margin-bottom: -1px;
	padding: 0.4em 0.6em;
	font-size: 0.9em;
	font-weight: 700;
	background: #4c4a56;
	border: 1px solid #6a6586;
	border-bottom: 0;
	z-index: 1;
	& + & {
		margin-left: 0.6em;
	}
	&.tabBtn {
		@extend %tappable;
		color: #9299a7;
		background: #252a3c;
		box-shadow: inset 0 -1px 0 0 #6a6586;
		transition-duration: 120ms;
		transition-property: background, color;
		&:hover {
			background: #524a3f;
			color: #ff9b70;
		}
	}
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border: 1px solid #6a6586;
	background: #4c4a56;
	overflow: auto;
}

.contentGrid {
	flex-direction: row;
	background-color: #a8a5b7;
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".025"/></svg>');
	background-size: 20px 20px;
}

.doneBtn {
	@extend %tappable;
	background: #009a00;
	padding: 0.4em 0.6em;
	font-size: 0.9em;
	font-weight: 700;
	box-shadow: inset 0 0 0 1px #002f0a, inset 0px 1px 0 1px #89f39f;
}
