$font-stack: Roboto, 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
$font-mono-stack: Monaco, Menlo, Consolas, 'Courier New', monospace;

%tappable {
	cursor: pointer;
	user-select: none;
}
