@import 'utils';

.container {
	flex-grow: 1;
	display: grid;
	grid-auto-rows: minmax(3em, 1fr);
	grid-auto-columns: minmax(3em, 1fr);
	grid-gap: 2px;
	grid-template-columns: 3em;
	grid-template-rows: 3em;
}

.col {
	grid-row-start: 1;
	border-radius: 0 0 0.2em 0.2em;
}

.row {
	grid-column-start: 1;
	border-radius: 0 0.2em 0.2em 0;
	span {
		transform: rotate(-90deg);
		overflow: visible !important;
	}
}

.config {
	grid-row-start: 1;
	grid-column-start: 1;
	border-radius: 0 0 0.2em 0;
}

.col,
.row,
.config {
	@extend %tappable;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #4c4a56;
	overflow: hidden;
	span {
		color: #a1c7d0;
		font-size: 1.1em;
		font-weight: 700;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		transition-duration: 200ms;
		transition-property: color;
	}
	svg {
		width: 2em;
		height: 2em;
		fill: #8ebec7;
		transition-duration: 200ms;
		transition-property: fill;
	}
	&:hover {
		span {
			color: #ff9b70;
		}
		svg {
			fill: #ff9b70;
		}
	}
}

.spring {
	animation-name: glowing;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0, 1.13, 0.83, 1.11);
}

@keyframes glowing {
	0% {
		box-shadow: 0 0 0 0 rgba(47, 227, 255, 0.94);
	}
	20% {
		box-shadow: 0 0 0px 2em rgba(0, 0, 0, 0);
	}
}
